<!DOCTYPE html>
<html ng-app="productosJM" lang="es">
<head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/services/category.service.js"></script>
    <script src="/app/services/product.service.js"></script>
    <script src="/app/services/rol.service.js"></script>
    <script src="/app/services/user.service.js"></script>
    <script src="/app/controllers/category.controller.js"></script>
    <script src="/app/controllers/product.controller.js"></script>
    <script src="/app/controllers/rol.controller.js"></script>
    <script src="/app/controllers/user.controller.js"></script>
    <link rel="stylesheet" href="components/styles/styles.css">
</head>
<body>
<div ng-view>Nueva app</div>
</body>
</html>